{% extends "layout.html" %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">视频列表</li>
    </ol>
</nav>
<div class="card-columns">
    <div class="card">
        <img class="card-img-top mx-auto d-block video-img blur-up img-bk lazyloaded"
             data-src="holder.js/254x130">
        <div class="card-body">
            <span>视频名称</span>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top mx-auto d-block video-img blur-up img-bk lazyloaded"
             data-src="holder.js/254x130">
        <div class="card-body">
            <span>视频名称</span>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top mx-auto d-block video-img blur-up img-bk lazyloaded"
             data-src="holder.js/254x130">
        <div class="card-body">
            <span>视频名称</span>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top mx-auto d-block video-img blur-up img-bk lazyloaded"
             data-src="holder.js/254x130">
        <div class="card-body">
            <span>视频名称</span>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top mx-auto d-block video-img blur-up img-bk lazyloaded"
             data-src="holder.js/254x130">
        <div class="card-body">
            <span>视频名称</span>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top mx-auto d-block video-img blur-up img-bk lazyloaded"
             data-src="holder.js/254x130">
        <div class="card-body">
            <span>视频名称</span>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top mx-auto d-block video-img blur-up img-bk lazyloaded"
             data-src="holder.js/254x130">
        <div class="card-body">
            <span>视频名称</span>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top mx-auto d-block video-img blur-up img-bk lazyloaded"
             data-src="holder.js/254x130">
        <div class="card-body">
            <span>视频名称</span>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top mx-auto d-block video-img blur-up img-bk lazyloaded"
             data-src="holder.js/254x130">
        <div class="card-body">
            <span>视频名称</span>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top mx-auto d-block video-img blur-up img-bk lazyloaded"
             data-src="holder.js/254x130">
        <div class="card-body">
            <span>视频名称</span>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top mx-auto d-block video-img blur-up img-bk lazyloaded"
             data-src="holder.js/254x130">
        <div class="card-body">
            <span>视频名称</span>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top mx-auto d-block video-img blur-up img-bk lazyloaded"
             data-src="holder.js/254x130">
        <div class="card-body">
            <span>视频名称</span>
        </div>
    </div>
</div>
{%end%}